.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    background-color: #f4f6f8;
  
    h1 {
      margin-bottom: 20px;
      font-size: 2rem;
      color: #333;
      text-align: center;
    }
  
    .register-form {
      border: 1px solid black;

      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 400px;
      padding: 20px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
      .register-button {
        margin: 0 auto;
        width: 30%;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
        background-color: white;
        color: black;
        font-size: 0.9rem;
        // font-weight: bold;
        &:hover {
          background-color: black;
          color: white;
        }
      }
      .login-redirect {
        margin-top: 15px;
        text-align: center;
        // font-size: 0.9rem;
        color: #555;
    
        .login-link {
          color: #007bff;
          text-decoration: none;
          // font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
        }
      }


    }
  
    @media (max-width: 768px) {
      padding: 10px;
  
      h1 {
        font-size: 1.5rem;
      }
  
      .register-form {
        max-width: 100%;
        padding: 15px;
  
        .register-button {
          font-size: 0.9rem;
        }
      }
    }
  
    @media (max-width: 480px) {
      h1 {
        font-size: 1.25rem;
      }
  
      .register-form {
        gap: 15px;
  
        .register-button {
          padding: 8px;
          font-size: 0.85rem;
        }
      }
    }
  }
  