.home-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
  
    .home-content {
      max-width: 80%;
      margin: 0 auto;
  
      .intro {
        text-align: center;
        margin-bottom: 40px;
  
        h1 {
          font-size: 2.5rem;
          color: #333;
        }
  
        p {
            width: 50%;
            margin: 0 auto;
          font-size: 1.1rem;
          color: #666;
          line-height: 1.6;
        }
      }
  
      .features {
        text-align: center;

        margin-bottom: 40px;
  
        h2 {
          font-size: 2rem;
          color: #333;
          margin-bottom: 20px;
        }
  
        ul {
          list-style-type: none;
          padding: 0;
          font-size: 1.1rem;
          color: #555;
  
          li {
            margin-bottom: 10px;
          }
        }
      }
  
      .contact {
        text-align: center;
        margin-bottom: 40px;
  
        h2 {
          font-size: 2rem;
          color: #333;
          margin-bottom: 20px;
        }
  
        .contact-icons {
          display: flex;
          justify-content: center;
          gap: 20px;
  
          a {
            text-decoration: none;
            transition: transform 0.3s;
  
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
  
      .resume {
        text-align: center;
  
        .resume-btn {
          padding: 10px 20px;
          font-size: 1.2rem;
          background-color: white;
          color: black;
          border-radius: 25px;
          border: 1px solid black;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
      .chatpage {
        margin-top: 20px;
        text-align: center;
  
        .chat-btn {
          padding: 10px 20px;
          font-size: 1.2rem;
          background-color: black;
          color: white;
          border-radius: 25px;
          border: 1px solid white;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .home-container {
      padding: 10px;
    
  
    .home-content {
      .intro h1 {
        font-size: 2rem;
      }
  
      .features h2 {
        font-size: 1.5rem;
      }
  
      .contact h2 {
        font-size: 1.5rem;
      }
  
      .resume-btn {
        font-size: 1.1rem;
        padding: 8px 15px;
      }
    }
  }
}
  
  @media (max-width: 480px) {
    .home-container {
      padding: 5px;
    
  
    .home-content {
      .intro h1 {
        font-size: 1.5rem;
      }
      .intro p {
        width: 80%;
      }
  
      .features h2 {
        font-size: 1.5rem;
      }
  
      .contact h2 {
        font-size: 1.5rem;
      }
  
      .contact-icons {
        flex-direction: row;
        gap: 10px;
      }
  
      .resume-btn {
        font-size: 1rem;
        padding: 7px 12px;
      }
    }
  }
}